<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-50 flex flex-col min-h-screen">
    <div class="shadow-md rounded flex justify-between">
        <a href="#" class="text-gray-600 font-bold text-2xl mt-2 hover:underline transition">MyLogo</a>
        <ul class="flex space-x-5 ml-3 p-2">
            <li><a href="#" class="text-gray-600 text-2xl hover:underline transition">Home</a></li>
            <li><a href="#" class="text-gray-600 text-2xl hover:underline transition">Blogs</a></li>
            <li><a href="#" class="text-gray-600 text-2xl hover:underline transition">About</a></li>
        </ul>
    </div>

    <section id="Hero">
        <div class="max-w-6xl mx-auto text-center py-20 px-6">
            <h1 class="text-5xl font-extrabold text-gray-800">Welcome To My Blog</h1>
            <h1 class="text-xl font-extrabold text-gray-600">Ideas are easy. Implementation is hard.</h1>
        </div>
    </section>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        {% for blogs in blog %}
        <div class="text-center p-3 bg-white shadow-md hover:scale-105 transition shadow-xl text-indigo-600">
            <h1 class="text-2xl font-bold font-mono text-gray-600 hover:text-indigo-600 transition">{{blogs.title}}</h1>
            <h1 class="text-xl font-bold text-gray-500 hover:text-indigo-600 transition">{{blogs.content}}</h1>
            <a href="#" class="text-indigo-600 hover:underline transition">Read More</a>
        </div>
        {% endfor %}
        
    </div>
    <footer class="flex mt-auto p-2 bg-gray-700">
        <div>
            <ul class="flex space-x-5">
            <li><a href="#" class="text-white">Home</a></li>
            <li><a href="#" class="text-white">Blogs</a></li>
            <li><a href="#" class="text-white">About</a></li>
            </ul>

        </div>
    </footer>
</body>
</html>